
#calculator {
    justify-self: center;
    /*background-color: yellowgreen;*/
    & #calcHead {
        background-color: black;
        padding:0.5em;
        padding-top: 0.9em;

        & #calcDisplay {            
            background-color: whitesmoke;

            & #calcText {
                box-sizing: content-box;
                min-width: 10em;
                min-height: 1.5em;
                padding: 5px;
                padding-top: 20px;
                text-align: right;
                font-style: italic;
                font-weight: bold;
                font-size: large;
            }

        }
    }
}

#keys {
    border: 2px solid grey;
}

.rowofkeys {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    


    & div {
        box-sizing: border-box;
        width:25%;
        text-align: center;
        

        background-color:white;
        border-color: black;
        border: 1px solid whitesmoke;
        /*padding: 5px;*/
        
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px;
    }

}

#lastrow {
    flex-basis: 33%;
    
}

.rowofkeys > div:hover{
    background-color: aqua;
}




